.ToggleSwitch{
  background: linear-gradient(#ccc, #eee);
  border: 1px solid #ccc;
  height: 25px;
  width: 50px;
  border-radius: 1em;
  position: absolute;
  z-index: 1001;
  top: 15px;
  right: 0;
  .knob {
    position: relative;
    width: 23px;
    height: 23px;
    background: #666;
    border: 1px solid #ddd;
    border-radius: 50%;
    left: 0;
    transition: left 0.3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px;
  }
  .knob.active{
    left: 25px;
  }
}
