@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import './switch';

$lightGrey: whitesmoke;
$onix: #343E3D;
$borderColor: #7575757a;

* {
  box-sizing: border-box;
}

body, html {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #2a86d7;
}

#root {
  height: 100vh;
  width: 100%;
}

h1, p {
  letter-spacing: 1.2px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font: 200 36px 'Oswald', sans-serif;
  margin: .5rem 0;
}

p {
  font: 300 16px 'Oswald', sans-serif;
  margin: 1rem 0;
  text-shadow: 0 0 .5px black;
}

.container-fluid.selected {
  .wrapper {
    .main_wrapper .main {
      height: 215px;
    }
  }
}


.container-fluid {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;

  &:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
  }

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    background: #b7b7b1ba;
    box-shadow: 0 0 35px rgba($onix, 0.4);
    width: 650px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    transition: box-shadow 350ms;

    &:hover {
      box-shadow: 0 0 10px rgba($onix, 0.4);
    }

    .weekDay {
      width: 100%;

      .data {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 2px solid $borderColor;
        border-bottom: 2px solid $borderColor;
        margin-bottom: 5px;
        p {
          letter-spacing: .6px;
        }
        p:nth-last-child(1){
          cursor: pointer;
          &:hover {
            transition: all .7s;
            color: $borderColor;
          }
        }
      }
    }


    .main_wrapper {
      width: 100%;
      position: relative;

      .current_wrapper, .current_wrapper .min_max {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .future_wrapper{
        display: flex;
        justify-content: center;
        align-items: stretch;
      }

      .main {
        height: 280px;
        width: 100%;
        position: relative;

        .data {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-top: 2px solid $borderColor;
          border-bottom: 2px solid $borderColor;

          p {
            letter-spacing: .6px;
          }
        }

        .futureDay {
          canvas#canvas {
            max-height: 170px;
          }
        }

        .weather_icons {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          img {
            height: auto;
            width: 50px;
          }
        }

        .current_wrapper {
          width: 100%;

          .wind {
            position: relative;
            width: 100%;

            p {
              float: left;
            }
          }

          img {
            margin: 0 auto;
            display: block;
            width: 160px;
            height: auto;
          }

          .img_wrapper {
            width: 50%;
          }

          .temp_wrapper {
            float: right;
            width: 50%;

            h2.temp {
              font: 300 90px/75px 'Lato', sans-serif;
              margin: 45px auto 15px;
              padding: 0 15px;
              text-align: center;
              color: #fff;
              text-shadow: 0 0 1px #000;

              span {
                font: 200 50px/50px 'Oswald', sans-serif;
                text-shadow: 0 0 1px #000;
              }
            }

            p.description {
              margin-bottom: 0;
            }
          }

          .min_max {
            p {
              margin-bottom: 15px;
            }
          }
        }
      }

      .future_wrapper {
        width: 100%;

        .day {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: rgb(214 214 214 / 24%);
          border: 1px solid $borderColor;
          border-radius: 10%;
          padding: 11px 10px;
          transition: all .7s;
          max-height: 195px;

          .today {
            height: 34px;
            padding: 10px 0;
          }

          p:nth-child(2){
            cursor: pointer;
          }

          &:not(&:last-child) {
            margin-right: 3px;
            border-right: 1px solid $borderColor;
          }

          .min_max p, p {
            font: 300 14px/18px "Oswald", sans-serif;
            margin: 5px 0;
          }

          img {
            width: 65px;
            height: auto;
          }

          &:hover {
            background: rgb(150 150 150 / 44%);
            transition: all .7s;
          }
        }

        .day.active {
          background: rgb(150 150 150 / 44%);
          transition: all .7s;
        }
      }
    }

    .form {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .form-control {
        background: transparent;
        border: 1px solid $borderColor;
        font: 200 16px/16px "Oswald", sans-serif;
        letter-spacing: 1.5px;
        color: #ffffff;
        font-size: 16px;
        outline: none;
        text-align: center;
        transition: width 200ms;
        width: 200px;
        height: 32px;
      }


      button {
        margin-left: 5px;
        background: $borderColor;
        border-color: $borderColor;
        height: 32px;
        text-transform: uppercase;
        font: 200 16px/16px 'Oswald', sans-serif;
        letter-spacing: 1.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        &:focus {
          box-shadow: none;
        }
      }
    }

    .info {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 50px;
      position: relative;
      width: 50%;

      .temp {
        color: $onix;
        display: flex;
        flex-direction: column;
        align-items: center;

        .value {
          font-size: 60px;
        }
      }

      .hr {
        background: $onix;
        border-radius: 2px;
        height: 2px;
        width: 90%;
        margin-bottom: 15px;
        margin-top: 15px;
      }

      .location {
        align-items: center;
        color: $onix;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-between;

        .city {
          font-size: 24px;
          margin-bottom: 15px;
          text-align: center;
        }
      }

      &:after {
        background: #fff;
        border-radius: 50%;
        content: '';
        height: 200px;
        left: -8px;
        position: absolute;
        top: -10px;
        transform: rotate(-5deg);
        width: 30px;
        z-index: 2;
      }

      &:before {
        background: transparent;
        border-radius: 44%;
        bottom: -60px;
        box-shadow: 15px 15px 0 0 #fff;
        content: '';
        height: 240px;
        left: -108px;
        opacity: 0.3;
        position: absolute;
        transform: rotate(14deg);
        width: 100px;
        z-index: 2;
      }
    }
  }
}


