@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
@import './puls';
@import './switch';

$lightGrey: whitesmoke;
$onix: #343E3D;
$borderColor: #7575757a;


* {
  box-sizing: border-box;
}

body, html {
  font-family: Roboto, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  width: 100%;
}

h1, h4, p {
  letter-spacing: 1px;
  transform: scale(0.8, 1);
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font: 300 38px/38px Lato, sans-serif;
}

h4 {
  font: 300 20px/20px Lato, sans-serif;
}

p {
  font: 500 16px/16px Lato, sans-serif;
  text-shadow: 0 0 .5px black;
}


.container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;

  &:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
  }

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background: #d6d6d682;
    box-shadow: 0 0 35px rgba($onix, 0.4);
    width: 550px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    transition: box-shadow 350ms;

    &:hover {
      box-shadow: 0 0 10px rgba($onix, 0.4);
    }

    .data {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 2px solid $borderColor;

      p {
        letter-spacing: .6px;
      }
    }

    .data_wrapper {
      width: 100%;
      position: relative;

      .current_data_wrapper, .future_data_wrapper, .current_data_wrapper .min_max {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .midl {
        height: 255px;
        width: 100%;
        border-top: 2px solid $borderColor;
        position: relative;
        .current_data_wrapper {
          width: 100%;
          .wind {
            position: relative;
            height: 40px;
            width: 100%;

            span {
              font-size: 30px;
              color: #666;
            }
          }

          img {
            margin: 0 auto;
            display: block;
            width: 200px;
            height: auto;
          }

          h2.temp {
            font: 300 90px/90px Lato, sans-serif;
            margin: 15px auto;
            padding: 0 15px;
            text-align: center;
            color: #ffffff;
            text-shadow: 0 0 1px black;

            span {
              font: 100 50px/50px Lato, sans-serif;
              text-shadow: 0 0 1px black;
            }
          }

          .min_max {
            p {
              margin-bottom: 15px;
            }
          }
        }
      }

      .future_data_wrapper {
        width: 100%;

        .day {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: rgb(214 214 214 / 24%);
          border: 1px solid $borderColor;
          border-radius: 10%;
          padding: 10px;
          transition: all .7s;

          &:not(&:last-child) {
            margin-right: 2px;
            border-right: 1px solid $borderColor;
          }

          p {
            font: 500 20px/20px Lato, sans-serif;
            margin: 10px auto;
          }

          img {
            width: 70px;
            height: auto;
          }

          .min_max {
            p {
              font: 500 16px/16px Lato, sans-serif;
            }
          }

          &:hover {
            background: rgb(150 150 150 / 44%);
            transition: all .7s;
          }
        }
      }
    }

    .content {
      margin-top: 30px;
      height: 30%;
      position: relative;


      .form-control {
        background: transparent;
        border: none;
        border-bottom: 1px solid $onix;
        color: $onix;
        font-size: 16px;
        outline: none;
        text-align: center;
        transition: width 200ms;
        width: 160px;

        &:focus {
          width: 220px;
        }
      }

      .button_wrapper {
        button {
          display: flex;
          height: 30px;
          justify-content: center;
          align-items: center;
          margin-top: 20px;
          width: 100%;
        }
      }
    }

    .info {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 50px;
      position: relative;
      width: 50%;

      .temp {
        color: $onix;
        display: flex;
        flex-direction: column;
        align-items: center;

        .value {
          font-size: 60px;
        }
      }

      .hr {
        background: $onix;
        border-radius: 2px;
        height: 2px;
        width: 90%;
        margin-bottom: 15px;
        margin-top: 15px;
      }

      .location {
        align-items: center;
        color: $onix;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-between;

        .city {
          font-size: 24px;
          margin-bottom: 15px;
          text-align: center;
        }
      }

      // wave effect
      &:after {
        background: #fff;
        border-radius: 50%;
        content: '';
        height: 200px;
        left: -8px;
        position: absolute;

        top: -10px;
        transform: rotate(-5deg);
        width: 30px;
        z-index: 2;
      }

      &:before {
        background: transparent;
        border-radius: 44%;
        bottom: -60px;
        box-shadow: 15px 15px 0 0 #fff;
        content: '';
        height: 240px;
        left: -108px;
        opacity: 0.3;
        position: absolute;
        transform: rotate(14deg);
        width: 100px;
        z-index: 2;
      }
    }
  }


}

//
//input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
//  display: none;
//}
//
//@keyframes spin {
//  from {
//    transform: rotate(0deg);
//  }
//  to {
//    transform: rotate(360deg);
//  }
//}
